body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.img-background {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../../assets/background.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.img-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5); 
  z-index: 1; 
}

.main-content-form {
  margin-top: 0; 
  padding-top: 0;
  position: relative;
  width: 900px;
  padding: 20px;
  background-color: #f9f9f9;
  z-index: 3;
  border-radius: 8px;
  margin: 0 auto;
}
  
  .form-title {
    text-align: center;
    color: #457b9d;
    margin-bottom: 20px;
  }

  .form-content {
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
  }

  .input-field {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  .form-button {
    padding: 10px;
    background-color: #7493C0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .form-button:hover {
    background-color: #A3BCD4;
  }

  .coordinates-container {
    margin-bottom: 15px;
  }

  .address-data {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #333333;
  }
  